/* Não recomendado porque pode deixar a página mais lenta pra carregar */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */

h1:hover, h2:hover, h3:hover {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Festive', cursive;
    background-color: silver;
    width: 400px;
    text-align: center;
    transition: 0.5s;
    border-radius: 5px;
}

h3{
    color: blue;
    font-weight: bold;
}

button{
    color: green;
    background: skyblue;
    padding: 5px;
    border-radius: 5px;
}

button:hover{
    color: white;
    background: green;
    font-weight: bold;
    padding: 15px;
    border: 1px solid red;
    border-radius: 15px;
    transition: 0.5s;
}