@font-face {
    font-family: "Roboto";
    src: url('./fonts/Roboto-Regular.ttf') format("truetype");
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    text-rendering: optimizelegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body{
    padding: 10px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* background-color: #121214; */
    background: linear-gradient(to bottom right, #276242, #1682C2);
}

header{
    width: 100%;
    height: 10%;
    display: flex;
    /* border: 1px solid red; */
}

header .welcome, .message, .datasData, .month-content{
    display: flex;
    align-items: center;
}

header .welcome{
    /* padding: 5px; */
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;    
    /* border: 1px solid red; */    
}

header .welcome .message, .datasData{
    flex: 1;
    height: 100%;
    /* border: 1px solid; */
}

header .welcome .message{
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    gap: 10px;
    /*border: 1px solid;*/
    /* color:#757575; */
    /* background: #202024; */
    /* background: silver; */
    border-radius: 10px;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
}


.month-content{
    width: 100%;
    height: 100%;
    /* padding: 5px; */
    gap: 10px;
    justify-content: space-between;
}

.month-area, #atual-hours{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* border: 1px solid red;     */
    /*border: 1px solid;*/
    border-radius:10px;
    /* color: #757575; */
    /* background: #202024; */
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
}

.month-area{
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#day-week{
    font-size: 24px;
    font-weight: bold;
}
.day-month{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* border: 1px solid red;     */

}

.day-month{
    font-size: 18px;
}

#atual-hours{
    font-size: 36px;
    font-weight: bold;
}

main#main-content{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

main#main-content > div{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    /* color: #757575; */
    /* background: #202024; */
    border-radius:10px;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);

}

main#main-content #main-info #atendType{
    font-size: 70px;
    font-weight: bold;
}

main#main-content #main-info #atendPass{
    font-size: 150px;
    color: #195B3B;
    font-weight: bold;
}

main#main-content #main-info .atendTable{
    font-size: 70px;
    font-weight: bold;
}

main#main-content #main-info .atendTable #table-number{
    color: #F00;
    font-size: 80px;
}

#other-infor{
    overflow:auto;
}

footer#footer-content{
    width: 100%;
    height: 30%;  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;  
}

footer#footer-content .card-info{
    width: 25%;
    height: 100%;
    /* background: #202024; */
    border-radius:10px;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
}

.message, .month-area, #atual-hours, #main-info, #other-infor, .card-info{
    background: silver;
}