body{
    background-color: silver;
    font-family: Fira Code;
    color: black;
}

div{
    background-color: skyblue;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
}

code{
    color: brown;
}

dt{
    font-weight: bold;
}

dd{
    background-color: gray;
    padding: 5px 10px;
    border: 1.5px solid white;
    border-radius: 5px;
    color: white;
}

ul{
    list-style: disc;
}

img:hover{
    border: 2px solid #ffff;
    border-radius: 15px;
    transition: 0.5s;
}

blockquote{
    background-color: skyblue;
    padding: 10px;
    border-radius:5px;
}

a:hover{
    padding: 5px;
    /* padding-block: 10px; */
    background-color: purple;
    color: white;
    border-radius: 5px;    
}

legend, fieldset{
    background-color:skyblue;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-block: 5px;
}