*{
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    transition: .2s;
    -webkit-transition: .2s;
    background: #252525;  
}

.cards{
    width: 600px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow-wrap: break-word; */
    /* overflow-clip-margin: 54; */
    gap: 24px;
    transition: .2s;
    -webkit-transition: .2s;
    box-shadow: inset 4px -4px 8px rgba(0, 0, 0,0.5);
    border-radius: 20px;
}

.mini-card{
    width: 300px;
    height: 350px;
    padding: 1.5rem;
    border-radius: 16px;
    background: linear-gradient(85deg,#434343,#262626);
    color:#252525;
    box-shadow: -2rem 0 3rem -2rem #000;   
    overflow: hidden; 
    transition: .2s;    
    -webkit-transition: .2s;
    margin-left: -200px;
    position: relative; /*mantém o item na sua posição, mesmo com os efeitos rodando*/
}

.mini-card:focus-within, .mini-card:hover{
    /* transform: translateY(-1rem) rotate(3deg); */
    margin-left: 2px;
    transition: .2s;
    /* box-shadow: inset 4px -4px 8px rgba(0, 0, 0,0.5); */
    -webkit-transition: .2s;
}

.mini-card:active{
    /* overflow-y:scroll; mantém os itens dentro da box cso excedam seu tamanho */
    margin-left: 2px;
    color: #000;

}