<!DOCTYPE html>

<%- include('../partials/head')%>

<body>
    <%- include('../partials/header')%>

    <main class="main-content">
                <div class="contact">
            <form action="#" id="contact">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Digite seu nome aqui..." required>

                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="Digite seu e-mail aqui..." required>

                <label for="descricao">Descrição</label>
                <textarea name="descricao" id="descricao" cols="30" rows="10" placeholder="Motivo do contato..."></textarea>

                <div class="buttons">
                    <button type="submit">Enviar</button>
                    <button type="reset">Limpar campos</button>
                </div>

            </form>
        </div>
    </main>

    <%- include('../partials/footer')%>

</body>
</html>