<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/head')%>
<body>

    <%- include('../partials/header')%>

    <main class="main-content">

        <img src="https://source.unsplash.com/random" alt="">        

    </main>

    <%- include('../partials/footer')%>
</body>
</html>