<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>

    <%- include('../partials/header')%>

    <main class="main-content">
        <img src="" alt="">
        <div class="info">
            <h2>About US</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque corrupti deleniti ducimus sequi vel voluptatum repudiandae aliquam quaerat nulla, reiciendis ea incidunt natus quo minus blanditiis necessitatibus, rem adipisci exercitationem!</p>
            
            <h3>More about us</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, facilis aspernatur ad beatae earum reiciendis? Temporibus deserunt facere sapiente totam odit quasi aliquid quod unde vel doloribus, autem aliquam et?</p>

            <h3>More something about us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus illum id consequatur. Tenetur totam cum dolorem adipisci dolores eveniet qui optio nostrum, deleniti impedit, repudiandae, distinctio ipsum ducimus quisquam?</p>
        </div>
        
        <div class="contact">
            <form action="#" id="contact">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Digite seu nome aqui..." required>

                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="Digite seu e-mail aqui..." required>

                <label for="descricao">Descrição</label>
                <textarea name="descricao" id="descricao" cols="30" rows="10" placeholder="Motivo do contato..."></textarea>

                <div class="buttons">
                    <button type="submit">Enviar</button>
                    <button type="reset">Limpar campos</button>
                </div>


            </form>
        </div>
    </main>

    <%- include('../partials/footer')%>
</body>
</html>