*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

form {
    margin-top: 30px;
    width: 30%;
    height: 50%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.5);
}

input{
    padding: 2px;
}

div.basic-id{
    display: flex;
    flex-direction: column;
}

div.basic-id .basic-id-head{
    display: flex;
    align-items: flex-start;
}

div.basci-id .basic-id-head label{
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

div.aditional-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

div.aditional-info div {
    width: 50%;
}

div.aditional-info .bird, .email {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

div.aditional-info .bird .bird-head{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 3px
}

div.aditional-info .bird, .email .email-head{
    display: flex;
    align-items: flex-start;
    margin-bottom: 3px;
}

div.comments {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

div.comments textarea {
    padding: 10px;
}

div.comments label{
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

div.buttons{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

div.buttons button {
    width: 33%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.buttons button img{
    margin-right: 5px;
}