.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(142, 30%, 48%);
}

header.menus .navbar img{
  height: 24px;
  width: 24px;
}

header.menus .navbar a{
  text-decoration: none;
}

main{
  background: hsl(202, 48%, 66%);
}