<!DOCTYPE html>

<%- include('../partials/head'); %>
</html>

<body class="container">
    <%- include('../partials/header', {pagina: 'sobre'}); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Olá, sou Carlos Lima, estudante de programação</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>