<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avançando</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/header') %>;

    <main class="main-content">
        <div class="welcome-page">
            <h1>Bem Vindo!</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit culpa nam obcaecati accusantium, similique itaque excepturi possimus! Libero soluta reprehenderit nihil vel vitae similique odio, reiciendis non expedita officia provident!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil saepe impedit illo ex minima totam officia nesciunt aspernatur temporibus. Velit molestiae voluptates commodi voluptatibus vitae quis eum soluta officiis amet.</p>
        </div>
    </main>
    <%- include('../partials/footer') %>;
</body>
</html>