<!DOCTYPE html>
<html lang="pt-BR">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main class="main-content">
        
        <h1>Bem vindo!</h1>

    </main>
    <%- include('../partials/footer') %>
</script>
</body>
</html>