:root{
    --shadow:3px 4px 7px rgba(91, 60, 136, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

@font-face {
    font-family: 'Roboto Light';
    src: url(./fonts/Roboto-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

img{
    width: 24px;
    height: 24px;
}