*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    /* border: 1px solid; */
}

@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

header{
    flex: 1;
    display: flex;
    padding: 64px 135px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #290742;
    border-bottom: 5px solid #4fff4b;
}

header:hover{
    box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.25);
}

.nav-bar {
    flex: 1;
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar #main-logo{
    /* flex: 1; */
}

.nav-bar .search{
    display: flex;
}

.nav-bar ul{
    width: 30%;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    line-height: 21px;
    color: #FBF6FF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-bar ul li{
    padding: 0 2px;
}

.nav-bar ul li:hover{
    cursor: pointer;
    font-weight: 700;
    border-left: 2px solid #4fff4b;
}

.search{
    /* border: 1px solid #fff; */
    border-radius: 8.5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.nav-bar .search input{
    font-family: "Roboto";
    font-size: 14px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;  
    padding-left: 25.6px; 
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
    background: #1e0028;    
}

.nav-bar .search input::placeholder{
    font-size: 14px;
    color: #FBF6FF;
}

.nav-bar .search button{
    width: 70px;
    height: 44px;
    border: none;
    background: #9e6dc2;
    outline: none;
    border-radius: 0 4px 4px 0;
}

.nav-bar .search button:active{
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.nav-bar .search button:hover{
    cursor: pointer;
}

header .below-nav{
    width: 100%;
    margin-top: 64px;
    flex: 2;
    display: flex;
    /* align-items: center; */
    /* justify-content:  space-between; */
}

header .below-nav .text-content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header .below-nav .text-content h1{
    font-family: 'Poppins';
    color: #9E6DC2;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}

header .below-nav .text-content p, a{
    font-family: 'Roboto';
    color: #FBF6FF;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

header .below-nav .text-content a{
    width: 100%;
    color: #9E6DC2;
    text-decoration: none;
    display: flex;
    align-items: center; 
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);   
}

header .below-nav .text-content a img{
    margin-left: 5px;
}



header .below-nav img{
    width: auto;
    height: auto;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

}

main{
    flex: 2;
}
