    <footer class="footer-content">
        <div class="copyright">
            <p>Desenvolvido por <span>Carlos Lima</span></p>
        </div>
        <div class="social-networks">
            <img src="/images/github.svg" alt="github icon">
            <img src="/images/whatsapp.svg" alt="whatsApp icon">
            <img src="/images/facebook.svg" alt="facebook icon">
            <img src="/images/instagram.svg" alt="instagram icon">
            <img src="/images/twitter.svg" alt="twitter icon">
        </div>
    </footer>