    <header class="main-header">
        <nav>
            <ul>
                <li><a href="/home"><img src="/images/home.svg" alt="home icon"> Início</a></li>
                <li><a href="/place"><img src="/images/add-build.svg" alt="build icon"> Cadastro Projeto</a></li>
                <li><a href="/user"><img src="/images/add-user.svg" alt="add user icon"> Cadastro Usuário</a></li>
                <li><a href="/equipment"><img src="/images/add-equipment.svg" alt="box icon"> Cadastro Equipamento</a></li>
                <li><a href="/report"><img src="/images/report.svg" alt="report icon"> Relatórios</a></li>
                <li><a href="/login"><img src="/images/logout.svg" alt="door opened"> Logout</a></li>
            </ul>
        </nav>
    </header>