<nav class="product-nav">
    <ul>
        <li><a href="/os"><img src="/images/service.svg" alt="">Atendimento</a></li>
        <li><a href="/place"><img src="/images/add-build.svg" alt="build icon"> Projeto</a></li>
        <li><a href="/user"><img src="/images/add-user.svg" alt="add user icon"> Usuário</a></li>
        <li><a href="/equipment"><img src="/images/add-equipment.svg" alt="box icon"> Equipamento</a></li>
    </ul>
</nav>