article p:nth-of-type(2):hover{
    color: red;
    font-weight: bold;
    font-size: 18px;
}

article p:nth-of-type(3){
    color: green;
}

/* 
    nth-of-type()

    Pega o exato elemento do tipo ao qual se referia. Sendo que o referido deve ser indicado entre parênteses.
*/