article :nth-child(3){
    color: red;
}

article :nth-child(2){
    color: blue;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

article :nth-child(1){
    color: yellow;
}