    <header class="main-header">
        <div class="navigation">
            <a href="/">Home</a>
            <a href="/sobre">About US</a>
            <a href="/contactUs">Contac US</a>
        </div>
    </header>