:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
}

@font-face {
    font-family: "MontserratSemiBold";
    src: url(fonts/Montserrat-SemiBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: auto;
    font-family: "Montserrat";
    background: url(assets/background.png) repeat-y;
    background-size: cover;
    background-attachment: fixed;
    color: var(--white);    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

header.header-content {
    margin-top: 57px;
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}

header.header-content .navigation{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.header-content .navigation .logo{
    font-size: 40px;
    font-weight: 900;
    line-height: 49px;
}

header.header-content .navigation .logo span:last-child{
    color: #FF5B50;
}

header.header-content .navigation .main-list{
    width: 25%;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.header-content .navigation .main-list li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header.header-content .navigation .main-list li:hover{
    color: #FF5B50;
    cursor: pointer;
    font-weight: 700;
    transition: 0.5s;
}

header.header-content .navigation #btn{
    width: 230px;
    height: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

header.header-content .navigation #btn:hover{
    background: #FF5B50;
    color: var(--white);
    cursor: pointer;
}

header.header-content .navigation #btn:active{
    box-shadow: inset 2px 4px 3px rgba(0, 0, 0, 0.5);
}

header.header-content .navigation #btn img{
    width: 30px;
    height: 30px;
}

/* Main content */
main.main-content{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main.main-content .container{
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    /* border: 1px solid white; */
    margin-bottom: 100px;
}

main.main-content .container .first{
    flex: 1;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
}

main.main-content .container .first .avatars {
    width: 100%;
    display: flex;
    margin-bottom: 6px;
}

main.main-content .container .first .avatars #avatar{
    width: 169px;
    height: 87px;
    margin-right: 6px;
}

main.main-content .container .first .avatars .avatars-details{
    font-size: 18px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

main.main-content .container .first .avatars .avatars-details span:nth-child(1){
    font-weight: 700;
}

main.main-content .container .second{
    flex: 2;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 61px;
    margin-right: 40px;
}

main.main-content .container .second >h2 > span{
    color: #FF5B50;
}

main.main-content .container #side-logo{
    display: flex;
    align-items: center;
    justify-content:center;
}

main.main-content .container #side-logo img{
    width: 200px;
    height: 200px;
}

/* Image gallery */
main.main-content .images{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

main.main-content .images img{
    width: 307.13px;
    height: 177.98px;
    border: 1px solid #fff;
    margin-right: 10px;
    margin-bottom: 60.44px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);

}

main.main-content .images img:nth-child(5){
    margin-bottom: 0;
}

main.main-content .images img:nth-child(6){
    margin-bottom: 0;    
}

main.main-content .images img:nth-child(7){
    margin-bottom: 0;    
}

main.main-content .images img:nth-child(8){
    margin-bottom: 0;
}

div.articles{
    width: 100%;
    height: 660px;
    display: flex;
    background: rgba(14, 14, 14, 0.9);
}

div.articles .numbers{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #5A5757;
    border-right: 1px solid #5A5757;
}

div.articles .numbers div{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.articles .numbers div span:first-child{
    font-size: 50px;
    font-weight: 600;
    line-height: 60.95px;
}

div.articles .numbers div span:last-child{
    font-size: 20px;
    font-weight: 600;
    color: #5A5757;
    line-height: 24.38px;
}

div.articles .paragraphes-banner{
    flex: 2;
    display: flex;
    flex-direction: column;
}

div.articles .paragraphes-banner .paragraphes{
    flex: 1;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    display: flex;
    align-items: center;
    padding: 71px;
}

div.articles .paragraphes-banner .paragraphes div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

div.articles .paragraphes-banner .paragraphes div:first-child{
    margin-right: 71px;
}

div.articles .paragraphes-banner .paragraphes div p a{
    color: #FF5B50;
}

div.articles .paragraphes-banner .paragraphes div > a{
    width: 100%;
    display: flex;
    align-items: flex-start;
    color: #fff;   
}

